$img-width: 725.9vh;
$container-width: 1500vh;

@include keyframes(img-scroller) {
  0% {transform: translate(0, 0);}
  100% {transform: translate(-$img-width, 0);}
}

.planet-img-container {
  position: fixed;
  top: 0; bottom: 0; left: 0;
  width: $container-width;
  @include animation(img-scroller 60s linear infinite);
}

.planet-backdrop {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url('/dist/images/Jupiter2.svg');
  background-size: $img-width 100vh;
  background-attachment: fixed;
  background-position: 0 0;
  background-color: #000;
}

.planet-img {
  position: relative;
  height: 100vh;
  width: $img-width;
}
